aiosqlite
pytest
pytest-asyncio
python-dateutil
aiohttp
numpy
pytest-mock
certifi
tiktoken

pyyaml
beautifulsoup4
arxiv
feedparser
jinja2
pytz
markdown2
premailer
python-dotenv
llmlayer
anthropic>=0.39.0
voyageai>=0.0.4  
scikit-learn>=1.3.0  
